In [8]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from localenv import api_key
c2015 = Census(api_key, year=2015)
from localenv import api_key
c2014 = Census(api_key, year=2014)
from localenv import api_key
c2013 = Census(api_key, year=2013)
from localenv import api_key
c2012 = Census(api_key, year=2012)
from localenv import api_key
c2011 = Census(api_key, year=2011)

In [10]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data_2013 = c2013.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2013 = pd.DataFrame(census_data_2013)

census_pd_2013 = census_pd_2013.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2013 = census_pd_2013[["Name", "Population"]]

census_pd_2013

                    Name  Population
0                Alabama   4799277.0
1                 Alaska    720316.0
2                Arizona   6479703.0
3               Arkansas   2933369.0
4             California  37659181.0
5               Colorado   5119329.0
6            Connecticut   3583561.0
7               Delaware    908446.0
8   District of Columbia    619371.0
9                Florida  19091156.0
10               Georgia   9810417.0
11                Hawaii   1376298.0
12                 Idaho   1583364.0
13              Illinois  12848554.0
14               Indiana   6514861.0
15                  Iowa   3062553.0
16                Kansas   2868107.0
17              Kentucky   4361333.0
18             Louisiana   4567968.0
19                 Maine   1328320.0
20              Maryland   5834299.0
21         Massachusetts   6605058.0
22              Michigan   9886095.0
23             Minnesota   5347740.0
24           Mississippi   2976872.0
25              Missouri   6007182.0
26               Montana    998554.0
27              Nebraska   1841625.0
28                Nevada   2730066.0
29         New Hampshire   1319171.0
30            New Jersey   8832406.0
31            New Mexico   2069706.0
32              New York  19487053.0
33        North Carolina   9651380.0
34          North Dakota    689781.0
35                  Ohio  11549590.0
36              Oklahoma   3785742.0
37                Oregon   3868721.0
38          Pennsylvania  12731381.0
39          Rhode Island   1051695.0
40        South Carolina   4679602.0
41          South Dakota    825198.0
42             Tennessee   6402387.0
43                 Texas  25639373.0
44                  Utah   2813673.0
45               Vermont    625904.0
46              Virginia   8100653.0
47            Washington   6819579.0
48         West Virginia   1853619.0
49             Wisconsin   5706871.0
50               Wyoming    570134.0
51           Puerto Rico   3682966.0

In [ ]:
census_data_2011 = c2011.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2011 = pd.DataFrame(census_data_2011)

census_pd_2011 = census_pd_2011.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2011 = census_pd_2011[["Name", "Population"]]

census_pd_2011

In [5]:
census_data_2012 = c2012.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2012 = pd.DataFrame(census_data_2012)

census_pd_2012 = census_pd_2012.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2012 = census_pd_2012[["Name", "Population"]]

census_pd_2012

                    Name  Population
0                Alabama   4777326.0
1                 Alaska    711139.0
2                Arizona   6410979.0
3               Arkansas   2916372.0
4             California  37325068.0
5               Colorado   5042853.0
6            Connecticut   3572213.0
7               Delaware    900131.0
8   District of Columbia    605759.0
9                Florida  18885152.0
10               Georgia   9714569.0
11                Hawaii   1362730.0
12                 Idaho   1567803.0
13              Illinois  12823860.0
14               Indiana   6485530.0
15                  Iowa   3047646.0
16                Kansas   2851183.0
17              Kentucky   4340167.0
18             Louisiana   4529605.0
19                 Maine   1329084.0
20              Maryland   5785496.0
21         Massachusetts   6560595.0
22              Michigan   9897264.0
23             Minnesota   5313081.0
24           Mississippi   2967620.0
25              Missouri   5982413.0
26               Montana    990785.0
27              Nebraska   1827306.0
28                Nevada   2704204.0
29         New Hampshire   1317474.0
30            New Jersey   8793888.0
31            New Mexico   2055287.0
32              New York  19398125.0
33        North Carolina   9544249.0
34          North Dakota    676253.0
35                  Ohio  11533561.0
36              Oklahoma   3749005.0
37                Oregon   3836628.0
38          Pennsylvania  12699589.0
39          Rhode Island   1052471.0
40        South Carolina   4630351.0
41          South Dakota    815871.0
42             Tennessee   6353226.0
43                 Texas  25208897.0
44                  Utah   2766233.0
45               Vermont    625498.0
46              Virginia   8014955.0
47            Washington   6738714.0
48         West Virginia   1850481.0
49             Wisconsin   5687219.0
50               Wyoming    562803.0
51           Puerto Rico   3716727.0

In [4]:
census_data_2013 = c2013.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2013 = pd.DataFrame(census_data_2013)

census_pd_2013 = census_pd_2013.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2013 = census_pd_2013[["Name", "Population"]]

census_pd_2013

                    Name  Population
0                Alabama   4799277.0
1                 Alaska    720316.0
2                Arizona   6479703.0
3               Arkansas   2933369.0
4             California  37659181.0
5               Colorado   5119329.0
6            Connecticut   3583561.0
7               Delaware    908446.0
8   District of Columbia    619371.0
9                Florida  19091156.0
10               Georgia   9810417.0
11                Hawaii   1376298.0
12                 Idaho   1583364.0
13              Illinois  12848554.0
14               Indiana   6514861.0
15                  Iowa   3062553.0
16                Kansas   2868107.0
17              Kentucky   4361333.0
18             Louisiana   4567968.0
19                 Maine   1328320.0
20              Maryland   5834299.0
21         Massachusetts   6605058.0
22              Michigan   9886095.0
23             Minnesota   5347740.0
24           Mississippi   2976872.0
25              Missouri   6007182.0
26               Montana    998554.0
27              Nebraska   1841625.0
28                Nevada   2730066.0
29         New Hampshire   1319171.0
30            New Jersey   8832406.0
31            New Mexico   2069706.0
32              New York  19487053.0
33        North Carolina   9651380.0
34          North Dakota    689781.0
35                  Ohio  11549590.0
36              Oklahoma   3785742.0
37                Oregon   3868721.0
38          Pennsylvania  12731381.0
39          Rhode Island   1051695.0
40        South Carolina   4679602.0
41          South Dakota    825198.0
42             Tennessee   6402387.0
43                 Texas  25639373.0
44                  Utah   2813673.0
45               Vermont    625904.0
46              Virginia   8100653.0
47            Washington   6819579.0
48         West Virginia   1853619.0
49             Wisconsin   5706871.0
50               Wyoming    570134.0
51           Puerto Rico   3682966.0

In [13]:
census_data_2014 = c2014.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2014 = pd.DataFrame(census_data_2014)

census_pd_2014 = census_pd_2014.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2014 = census_pd_2014[["Name", "Population"]]

census_pd_2014

                    Name  Population
0                Alabama   4817678.0
1                 Alaska    728300.0
2                Arizona   6561516.0
3               Arkansas   2947036.0
4             California  38066920.0
5               Colorado   5197580.0
6            Connecticut   3592053.0
7               Delaware    917060.0
8   District of Columbia    633736.0
9                Florida  19361792.0
10               Georgia   9907756.0
11                Hawaii   1392704.0
12                 Idaho   1599464.0
13              Illinois  12868747.0
14               Indiana   6542411.0
15                  Iowa   3078116.0
16                Kansas   2882946.0
17              Kentucky   4383272.0
18             Louisiana   4601049.0
19                 Maine   1328535.0
20              Maryland   5887776.0
21         Massachusetts   6657291.0
22              Michigan   9889024.0
23             Minnesota   5383661.0
24           Mississippi   2984345.0
25              Missouri   6028076.0
26               Montana   1006370.0
27              Nebraska   1855617.0
28                Nevada   2761584.0
29         New Hampshire   1321069.0
30            New Jersey   8874374.0
31            New Mexico   2080085.0
32              New York  19594330.0
33        North Carolina   9750405.0
34          North Dakota    704925.0
35                  Ohio  11560380.0
36              Oklahoma   3818851.0
37                Oregon   3900343.0
38          Pennsylvania  12758729.0
39          Rhode Island   1053252.0
40        South Carolina   4727273.0
41          South Dakota    834708.0
42             Tennessee   6451365.0
43                 Texas  26092033.0
44                  Utah   2858111.0
45               Vermont    626358.0
46              Virginia   8185131.0
47            Washington   6899123.0
48         West Virginia   1853881.0
49             Wisconsin   5724692.0
50               Wyoming    575251.0
51           Puerto Rico   3638965.0

In [15]:
census_data_2015 = c2015.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

census_pd_2015 = pd.DataFrame(census_data_2015)

census_pd_2015 = census_pd_2015.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

# Final DataFrame
census_pd_2015 = census_pd_2015[["Name", "Population"]]

census_pd_2015

                    Name  Population
0                 Alaska    733375.0
1                Alabama   4830620.0
2               Arkansas   2958208.0
3                Arizona   6641928.0
4             California  38421464.0
5               Colorado   5278906.0
6            Connecticut   3593222.0
7   District of Columbia    647484.0
8               Delaware    926454.0
9                Florida  19645772.0
10               Georgia  10006693.0
11                Hawaii   1406299.0
12                  Iowa   3093526.0
13                 Idaho   1616547.0
14              Illinois  12873761.0
15               Indiana   6568645.0
16                Kansas   2892987.0
17              Kentucky   4397353.0
18             Louisiana   4625253.0
19         Massachusetts   6705586.0
20              Maryland   5930538.0
21                 Maine   1329100.0
22              Michigan   9900571.0
23             Minnesota   5419171.0
24              Missouri   6045448.0
25           Mississippi   2988081.0
26               Montana   1014699.0
27        North Carolina   9845333.0
28          North Dakota    721640.0
29              Nebraska   1869365.0
30         New Hampshire   1324201.0
31            New Jersey   8904413.0
32            New Mexico   2084117.0
33                Nevada   2798636.0
34              New York  19673174.0
35                  Ohio  11575977.0
36              Oklahoma   3849733.0
37                Oregon   3939233.0
38          Pennsylvania  12779559.0
39           Puerto Rico   3583073.0
40          Rhode Island   1053661.0
41        South Carolina   4777576.0
42          South Dakota    843190.0
43             Tennessee   6499615.0
44                 Texas  26538614.0
45                  Utah   2903379.0
46              Virginia   8256630.0
47               Vermont    626604.0
48            Washington   6985464.0
49             Wisconsin   5742117.0
50         West Virginia   1851420.0
51               Wyoming    579679.0